@import "src/assets/scss/variables";

.table {
  display: table;
  position: relative;
  right: -100px;
  top: 50px;
}
.table-row {
  display: table-row;
}
.table-cell {
  display: table-cell;
  padding: 10px;
  border: 1px solid black;
  background: $bg_lightest;
}
.table-header-cell {
  @extend .table-cell;
  background: $bg_light;
}
.table-row:nth-child(even) {
  background: lightblue;
}
.block {
  display: block;
  background: $bg_middle;
}
