$bg_lightest: #7e7c7d;
$bg_light: #646162;
$bg_middle: #464445;
$bg_dark: #282626;
$bg_darkest: #161616;

$text_dark: #8a949e;
$text_middle: #d7d6d6;
$text_light: #f5f6f6;

$cyan: #47b6dc;
$green: #00a658;
$yellow: #bfd252;
$indigo: #271f5d;
$pink: #f32579;
$orange: #f35e32;
//STATUS COLOR
$black: #161616;
$white: #ebebeb;
$grey: #555;
$red: #ed4224;
$green: #19c158;
$blue: #1a93e1;
$yellow: #fed42a;
$info: #17a2b8;
$purple: #79377c;

@mixin transition($duration) {
  -webkit-transition: $duration;
  -moz-transition: $duration;
  -ms-transition: $duration;
  -o-transition: $duration;
  transition: $duration;
}

@mixin shadow() {
  -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
}

@mixin scroll($color){
  overflow-y: scroll;

  &::-webkit-scrollbar {
    background-color: inherit;
    width: 5px;
    height: 3px;
    border-radius: 10px;
  }

  &:hover::-webkit-scrollbar-thumb {
    background-color: $color;
  }
}

@mixin remove_scroll(){
  overflow-y: visible;
  &::-webkit-scrollbar {
    display: none;
  }
  &:hover::-webkit-scrollbar-thumb {
    background-color: transparent;
    display: none;
  }
}
