@import 'src/assets/scss/variables.scss';
@import "~@ng-select/ng-select/themes/ant.design.theme.css";

.tableFixHead {
  width: 50%;
}

.total {
  background-color: $black;
}

.configurator {
  padding: 8px;
  background: $bg_darkest;
  color: $text-middle;
  justify-content: space-between;

  .box {
    display: table-cell;
    text-align: left;
    padding: 5px;
  }
}

.toggle {
  text-align: center;
  transition: 1s;
  margin: -5px;
  img{
    max-width: 21px;
    opacity: 85%;
    transition: 1s;
  }
}
