<div class="centerpoint">
    <div class="dialog">
      <h2>{{position.isNew() ? 'Создание новой позиции' : 'Добавление операции к позиции' | uppercase}}</h2>
      <button (click)="close()">&times;</button>
        <label>
          <select [disabled]="!position.isNew()" (ngModelChange)="changeSecurityType($event)" [(ngModel)]="position.security.type">
            <option *ngFor="let securityType of securityService.getSecurityTypes()" [ngValue]="securityType.type">{{securityType.displayName}}</option>
          </select>
        </label>
        <label>
          <select [disabled]="!position.isNew() && securities.length > 0" [(ngModel)]="position.security">
            <option *ngFor="let security of securities" [ngValue]="security">{{security.ticker}}</option>
          </select>
        </label>
        <label>Date
          <input name="openDate" type="date" [(ngModel)]="event.date"/>
        </label>
        <label>price</label>
          <input name="price" type="number" min="0" [(ngModel)]="event.price"/>
        <label>volume</label>
          <input name="volume" type="number" min="0" [(ngModel)]="event.volume"/>
        <label>currency</label>
          <select [disabled]="!position.isNew()" [(ngModel)]="position.currency">
            <option *ngFor="let currency of exchangeService.allowedCurrencies()" [ngValue]="currency">{{currency.name}}</option>
          </select>
        <label>commission</label>
          <input name="commission" type="number" min="0" [(ngModel)]="event.commission"/>
        <label>buy
          <input name="isBuy" type="checkbox" [(ngModel)]="event.buy"/>
        </label>
        <button (click)="savePosition()">Сохранить</button>
    </div>
</div>
