<div class="scrolling">
  <app-header [title]="title"></app-header>

  <div class="radius-box tableFixHead">
    <table class="table">
      <thead>
      <tr>
        <th colspan="2">Наименование</th>
        <th>Дата открытия</th>
        <th>Цена в портфеле</th>
        <th>Объем</th>
      </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let type of securityService.getSecurityTypes()">
          <ng-container *ngIf="type.name != 'CURRENCY' && positionsByType(type.name).length > 0">
            <tr>
              <td class="primary-column" colspan="5">{{type.displayName}}</td>
            </tr>
            <tr *ngFor="let position of positionsByType(type.name); let i = index">
              <td class="primary-column">{{i + 1}}</td>
              <td class="primary-column">{{position.company.organisationName}}</td>
              <td>{{position.openDate | date:'dd-MM-yyyy' }}</td>
              <td>{{position.price}}</td>
              <td>{{position.volume}}</td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
